# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
terraform.tfvars
*.auto.tfvars

# Secrets / env
*.env
.env
.env.*
!.env.example
**/secrets/**
*.pem
*.key
id_ed25519*
id_rsa*

# n8n
n8n/.n8n/
n8n/credentials/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Logs
*.log
